@font-face {
  font-family: 'Samim';
  src: url('../fonts/Samim.eot?#') format('eot'),  
       url('../fonts/Samim.woff') format('woff'),
       url('../fonts/Samim.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family: 'Samim-Bold';
  src: url('../fonts/Samim-Bold.eot?#') format('eot'),  
       url('../fonts/Samim-Bold.woff') format('woff'),
       url('../fonts/Samim-Bold.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}
body{
    font-family: 'Samim';
    direction: rtl;
}
header{
    background: #5d1472; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #530cd3 , #5d1472); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #530cd3, #5d1472); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #530cd3, #5d1472); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #530cd3 , #5d1472); /* Standard syntax */
    width: 100%;
}
header div img{
    width: 100%;
}
.margin-0{
    margin: 0 !important;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.margin-10{
    margin: 10px;
}
div.right-part{
    background-color: #ccc;
    padding-bottom: 15px;
}
div.right-part h3{
    margin: 10px;
}
div.right-part div.top-10{
    margin-top: 10px;
}
div.left-part{
    /*background-color: blue;*/
}
div.left-part h1{
    margin-top: 0;
}
.d-none{
    display: none;
}
div.box{
    border-radius: 5px;
    border:1px solid;
    /*background: green;*/
    margin-top: 10px;
    overflow: hidden;
}
div.box div.box-title{
    color: #fff;
    background: #000;
    width: 100%;
    padding: 5px;
}
.padding-right-10{
    padding-right: 10px;
}
td.save-order div, div.drug-hospital{
    color: #ffffff;
    background: #393939;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.padding-0{
    padding: 0;
}
.search-box{
    padding: 0 5px 0 0;
    border: solid 1px #ccc;
    background-color: #fff;
}

.search-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    box-shadow: none;
}

.search-box button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    outline: none;
}

.search-box button:hover{
    border: 0;
    box-shadow: none;
    background: none;
    color: #666666;
}

.search-box .glyphicon-search{
    font-size: 23px;
}
.td-icon{
    cursor: pointer;
    font-size: 20px;
}
.glyphicon-trash.td-icon{
    margin-right: 5px;
}
.hiden{
    display: none;
}
.inp-drug-year, .inp-drug-month, .inp-drug-count{
    width: 55px;
}
.change-state {
    color: #32008d;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px 4px;
    cursor: pointer;
    border: 2px solid;
    font-weight: bold;
}
.my-drugs h1{
    margin-top: 0 !important;
}
.my-drugs{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
.create-excel{
    color: #32008d;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px 4px;
    cursor: pointer;
    border: 2px solid;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    text-decoration: none;
    margin-left: 20px;
}
.create-excel:focus{
    text-decoration: none;
    color: #32008d;
    background: #ffffff;
}
.create-excel:hover{
    text-decoration: none;
    color: #ffffff;
    background: #32008d;
}
.display-inline{
    display: inline-block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.lte3{
    background-color: #FE5B5B !important;
}
.lte6{
    background-color: #ffc864 !important;
}
.gt6{
    /*background-color: ;*/
}