@font-face {
  font-family: 'Samim';
  src: url('../fonts/Samim.eot?#') format('eot'),  
       url('../fonts/Samim.woff') format('woff'),
       url('../fonts/Samim.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family: 'Samim-Bold';
  src: url('../fonts/Samim-Bold.eot?#') format('eot'),  
       url('../fonts/Samim-Bold.woff') format('woff'),
       url('../fonts/Samim-Bold.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}
body{
    font-family: 'Samim';
    direction: rtl;
}
header{
    height: 50px;
    background-color: green;
    width: 100%;
}
.float-left{
    float: left;
}
.margin-10{
    margin: 10px;
}
div.right-part{
    background-color: #ccc;
}
div.right-part h3{
    margin: 10px;
}
div.right-part div.top-10{
    margin-top: 10px;
}
div.left-part{
    /*background-color: blue;*/
}
div.left-part h1{
    margin-top: 0;
}
.d-none{
    display: none;
}
div.box{
    border-radius: 5px;
    border:1px solid;
    /*background: green;*/
    margin-top: 10px;
    overflow: hidden;
}
div.box div.box-title{
    color: #fff;
    background: #000;
    width: 100%;
    padding: 5px;
}
td.save-order div, div.drug-hospital{
    color: #ffffff;
    background: #393939;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}