{% extends "madadsite/base.html" %}
{% load static %}

{% block title %}همه اقلام{% endblock %}

{% block header %}
{% endblock %}

{% block active_menu %}
    <li><a href="{% url 'my_drugs' safe_id=safe_id %}">اقلام من</a></li>
    <li class="active"><a href="{% url 'all_drugs' %}">همه اقلام</a></li>
    <li><a href="{% url 'ordered_drugs' safe_id=safe_id %}">اقلام دریافتی</a></li>
    <li><a href="{% url 'order_token_drugs' safe_id=safe_id %}">اقلام ارسالی</a>
    {% if pending_drugs_count %}<span class="notification">{{ pending_drugs_count }}</span>{% endif %}
    </li>
    <li><a href="{% url 'all_hospitals' %}">بیمارستان ها</a></li>
    {% if request.user.is_staff %}
      <li><a href="{% url 'exchange_drugs' %}">تبادلات دارو</a></li>
    {% endif %}
{% endblock %}

{% block content %}{% csrf_token %}
  <div class="container-fluid">
    <div class="row my-drugs">
      <div class="col-lg-4 col-md-4 col-sm-4 right-part">
        <h3>فیلترها</h3>
        <div class="row top-10">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              <div class="search-box col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="input-group">
                    <input type="text" id="search_text" placeholder="نام دارو" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="button" id="search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row top-10">
          <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">مرتب سازی</label>
          <select class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="sort" required>
            <option value="1">بیشترین تعداد مازاد</option>
            <option value="2">کمترین تعداد مازاد</option>
            <option value="3">زودترین انقضا</option>
            <option value="4">دیرترین انقضا</option>
            <option value="5">جدید ترین ثبت</option>
{#            <option value="6">دیرترین ثبت</option>#}
          </select>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <input type="text" class="d-none" id="hospital_id" value="{{ safe_id }}">
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8 left-part">
        <h1 class="display-inline">همه اقلام</h1>
        <a class="create-excel" href="{% url 'create_all_drugs_excel' %}">خروجی اکسل</a>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>نام</th>
              <th>تعداد کل مازاد</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="all_drugs">
            {% for item in drugs %}
              <tr class="{{ item.exp_state }}">
                <td>{{ item.drug__name }}</td>
                <td>{{ item.sum_count }}</td>
                <td><div class="drug-hospital" id="drug_{{item.drug__safe_id}}">نمایش جزئیات</div></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
<!-- Modal -->
<button type="button" class="btn btn-info btn-lg d-none" id="show_modal" data-toggle="modal" data-target="#myModal"></button>
  <div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">داروی <div id="drug_name_modal"></div></h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>نام بیمارستان</th>
                <th>تاریخ انقضا</th>
                <th>قیمت واحد</th>
                <th>تعداد مازاد</th>
                <th>تعداد سفارش</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="hospitals_drug">
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    </div>
  </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $(function() {
            $("#drug_name").autocomplete({
                source: '/drugs-name/',
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandlerShop(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandlerShop(event, ui)
        {
            var selectedObj = ui.item;
            $("#remove_drug").show();
            if(selectedObj.id)
                $("#drug_name").attr("data-drug", selectedObj.id);
            else
                $("#drug_name").attr("data-drug", "");
            var selectedObj = ui.item;
        }
        $("#remove_drug").click(function(){
            $("#drug_name").val('');
            $("#drug_name").attr("data-shop", "");
            $("#remove_drug").hide();
        });

        function isNumberKey(evt){
          var charCode = (evt.which) ? evt.which : event.keyCode;
          if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
          return true;
        }
        $("#drug_count").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#drug_month").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#drug_year").keypress(function(evt){
          return isNumberKey(evt);
        });
        $(".drug-hospital").click(function(e){
          e.defaultPrevented;
          var str = this.id;
          var drugId = str.split("_")[1];
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
          $.ajax({
              url : "/hospitals-drug/", 
              type : "POST",
              dataType: "json", 
              data : {
                drug_id : drugId,
                csrfmiddlewaretoken: csrftoken,
              },
              success : function(json) {
                if (json.hospitals) {
                  $("#show_modal").trigger( "click" );
                  $("#hospitals_drug").html('');
                  $("#drug_name_modal").html(json.drun_name);
                  var hospitals = json.hospitals;
                  for (i in hospitals) {
                      var price = hospitals[i]['price'] ? hospitals[i]['price'] : '-';
                    $("#hospitals_drug").append('<tr class="'+hospitals[i]['exp_state']+'"><td>'+hospitals[i]['hospital__name']+'</td>' +
                        '<td>'+hospitals[i]['expiration_date']+'</td>' +
                        '<td>'+price+'</td>' +
                        '<td>'+hospitals[i]['current_count']+'</td>' +
                        '<td><input id="order_count'+hospitals[i]['safe_id']+'"></td>' +
                        '<td class="save-order" id="save_'+hospitals[i]['safe_id']+'"><div>ثبت</div></td>' +
                        '</tr>');
                  }
                  $(".save-order").click(function(e){
                    var str = this.id;
                    var drugId = str.split("_")[1];
                    var count = $("#order_count"+drugId).val();
                    $.ajax({
                      url : "/save-order/", 
                      type : "POST",
                      dataType: "json", 
                      data : {
                        drug_id : drugId,
                        count: count,
                        csrfmiddlewaretoken: csrftoken,
                      },
                      success : function(json) {
                        if(json.done)
                          alert('ثبت درخواست با موفقیت انجام شد');
                        if (json.not_exist) {
                          alert("ثبت درخواست با شکست مواجه شد");
                        }
                        location.reload();
                      },
                      error : function(xhr,errmsg,err) {
                        alert("عملیات با مشکل مواجه شد.");
                      },
                    });
                  });
                }
              },
              error : function(xhr,errmsg,err) {
                  alert("عملیات با مشکل مواجه شد.");
              }
          });
          return false;
        });
        $("#sort").change(function () {
          $("#search").trigger( "click" ); 
        });
        $("#search").click(function(e){
          e.defaultPrevented;
          var searchText = $("#search_text").val();
          var sortedBy = $("#sort").val();
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
          $.ajax({
            url : "/drugs/all/", 
            type : "POST",
            dataType: "json", 
            data : {
              search_text : searchText,
              sorted_by: sortedBy,
              csrfmiddlewaretoken: csrftoken,
            },
            success : function(json) {
              $("#all_drugs").html('');
              var drugs = json.drugs;
              if(drugs){
                for(i in drugs){
                  $("#all_drugs").append('<tr class="'+drugs[i]['exp_state']+'"><td>'+drugs[i]['drug__name']+'</td><td>'+drugs[i]['sum_count']+'</td><td><div class="drug-hospital" id="drug_'+drugs[i]['drug__safe_id']+'">نمایش جزئیات</div></td></tr>');
                }
                $(".drug-hospital").click(function(e){
                  e.defaultPrevented;
                  var str = this.id;
                  var drugId = str.split("_")[1];
                  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                  $.ajax({
                      url : "/hospitals-drug/", 
                      type : "POST",
                      dataType: "json", 
                      data : {
                        drug_id : drugId,
                        csrfmiddlewaretoken: csrftoken,
                      },
                      success : function(json) {
                        if (json.hospitals) {
                          $("#show_modal").trigger( "click" );
                          $("#hospitals_drug").html('');
                          $("#drug_name_modal").html(json.drun_name);
                          var hospitals = json.hospitals;
                          for (i in hospitals) {
                              var price = hospitals[i]['price'] ? hospitals[i]['price'] : '-';
                            $("#hospitals_drug").append('<tr class="'+hospitals[i]['exp_state']+'">' +
                                '<td>'+hospitals[i]['hospital__name']+'</td>' +
                                '<td>'+hospitals[i]['expiration_date']+'</td>' +
                                '<td>'+price+'</td>' +
                                '<td>'+hospitals[i]['current_count']+'</td>' +
                                '<td><input id="order_count'+hospitals[i]['safe_id']+'"></td>' +
                                '<td class="save-order" id="save_'+hospitals[i]['safe_id']+'"><div>ثبت</div></td>' +
                                '</tr>');
                          }
                          $(".save-order").click(function(e){
                            var str = this.id;
                            var drugId = str.split("_")[1];
                            alert(drugId);
                            var count = $("#order_count"+drugId).val();
                            $.ajax({
                              url : "/save-order/", 
                              type : "POST",
                              dataType: "json", 
                              data : {
                                drug_id : drugId,
                                count: count,
                                csrfmiddlewaretoken: csrftoken,
                              },
                              success : function(json) {
                                if(json.done)
                                  alert('عملیات با موفقیت انجام شد');
                                if (json.not_exist) {
                                  alert("عملیات با شکست مواجه شد");
                                }
                              },
                              error : function(xhr,errmsg,err) {
                                alert("عملیات با مشکل مواجه شد.");
                              },
                            });
                          });
                        }
                      },
                      error : function(xhr,errmsg,err) {
                          alert("عملیات با مشکل مواجه شد.");
                      }
                  });
                  return false;
                });
              }
            },
            error : function(xhr,errmsg,err) {
              alert("عملیات با مشکل مواجه شد.");
            },
          });
        });
      });
    </script>
    {% endblock %}  
  </body>
</html>