{% extends "madadsite/base.html" %}
{% load static %}

{% block title %}داروهای مازاد من{% endblock %}

{% block header %}
{% endblock %}

{% block active_menu %}
    <li class="active"><a href="{% url 'my_drugs' safe_id=safe_id %}">داروهای مازاد من</a></li>
    <li><a href="{% url 'all_drugs' %}">همه داروهای مازاد</a></li>
    <li><a href="{% url 'ordered_drugs' safe_id=safe_id %}"> داروهای سفارش داده شده</a></li>
    <li><a href="{% url 'order_token_drugs' safe_id=safe_id %}">داروهای سفارش گرفته شده</a></li>
    <li><a href="{% url 'all_hospitals' %}">بیمارستان ها</a></li>
{% endblock %}

{% block content %}{% csrf_token %}
  <div class="container-fluid">
    <div class="row my-drugs">
      <div class="col-lg-4 col-md-4 col-sm-4 right-part">
        <div>
          <h3>افزودن داروی جدید</h3>
          <div class="row top-10">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">نام دارو</label>
            <input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" placeholder="نام دارو" id="drug_name" data-drug="" required>
            <span class="glyphicon glyphicon-remove d-none" id="remove_drug"></span>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          </div>
          <div class="row top-10">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">تعداد</label>
            <input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" placeholder="تعداد دارو" id="drug_count" required>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          </div>
          <div class="row top-10">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">ماه انقضا</label>
            <input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" placeholder="ماه" id="drug_month" required>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          </div>
          <div class="row top-10">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">سال انقضا</label>
            <input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" placeholder="سال" id="drug_year" required>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          </div>
          <div class="text-left"><button type="submit" id="add_drug" class="margin-10">افزودن دارو</button></div>
        </div>
        <div>
          <h3>فیلترها</h3>
          <div class="row top-10">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">جستجو</label>
            <input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" placeholder="نام دارو یا بیمارستان را وارد کنید" id="drug_year" required>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          </div>
          <div class="row top-10">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">مرتب سازی</label>
            <input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" placeholder="سال" id="drug_year" required>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          </div>
        </div>
        <input type="text" class="d-none" id="hospital_id" value="{{ safe_id }}">
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8 left-part">
        <h1>داروهای شما</h1>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>نام</th>
              <th>تاریخ انقضا</th>
              <th>تعداد مازاد</th>
            </tr>
          </thead>
          <tbody id="all_drugs">
            {% for item in surplus_drugs %}
              <tr>
                <td>{{item.drug__name}}</td>
                <td>{{item.expiration_date.year}}/{{item.expiration_date.month}}</td>
                <td>{{item.current_count}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $(function() {
            $("#drug_name").autocomplete({
                source: '/drugs-name/',
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandlerShop(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandlerShop(event, ui)
        {
            var selectedObj = ui.item;
            $("#remove_drug").show();
            if(selectedObj.id)
                $("#drug_name").attr("data-drug", selectedObj.id);
            else
                $("#drug_name").attr("data-drug", "");
            var selectedObj = ui.item;
        }
        $("#remove_drug").click(function(){
            $("#drug_name").val('');
            $("#drug_name").attr("data-drug", "");
            $("#remove_drug").hide();
        });

        function isNumberKey(evt){
          var charCode = (evt.which) ? evt.which : event.keyCode;
          if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
          return true;
        }
        $("#drug_count").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#drug_month").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#drug_year").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#add_drug").click(function(e){
          e.defaultPrevented;
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
          var drugName = $("#drug_name").val();
          var drugId = $("#drug_name").attr("data-drug");
          var drugCount = $("#drug_count").val();
          var hospitalId = $("#hospital_id").val();
          var drugMonth = $("#drug_month").val();
          var drugYear = $("#drug_year").val();
          $.ajax({
              url : "/drugs/"+hospitalId+"/", 
              type : "POST",
              dataType: "json", 
              data : {
                drug_name : drugName,
                drug_id : drugId,
                drug_count : drugCount,
                drug_month: drugMonth,
                drug_year: drugYear,
                csrfmiddlewaretoken: csrftoken,
              },
              success : function(json) {
                  // alert(json.done);
                if (json.done) {
                  $("#all_drugs").prepend('<tr><td>'+drugName+'</td><td> '+drugYear+'/'+drugMonth+'</td><td>'+drugCount+'</td></tr>');
                  alert("دارو با موفقیت ثبت شد!");
                }
                else{
                  alert("ثبت دارو با شکست مواجه شد");
                }
                if(!json.access){
                  alert("دسترسی غیرمجاز!");
                }
              },
              error : function(xhr,errmsg,err) {
                  alert("ثبت بیمارستان با مشکل مواجه شد.");
              }
          });
          return false;
        });
      });
    </script>
    {% endblock %}  
  </body>
</html>