{% extends "madadsite/base.html" %}
{% load static %}

{% block title %}داروهای مازاد من{% endblock %}

{% block header %}
{% endblock %}

{% block content %}{% csrf_token %}
  <div class="container-fluid">
    <div class="row my-drugs">
      <div class="col-lg-4 col-md-4 col-sm-4 right-part">
        <h3>افزودن داروی جدید</h3>
        <div class="row">
          <label class="col-lg-6 col-md-6 col-sm-6 col-xs-6">نام دارو</label>
          <input class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" placeholder="نام دارو" id="drug_name" required>
        </div>
        <div class="row">
          <label for="drug_count"><b>تعداد دارو</b></label>
          <input type="text" placeholder="تعداد دارو" id="drug_count" required>
        </div>
        <div class="row">
          <label><b>ماه انقضا</b></label>
          <input type="text" placeholder="ماه انقضا" id="drug_month" required>
        </div>
        <div class="row">
          <label><b>سال انقضا</b></label>
          <input type="text" placeholder="سال انقضا" id="drug_year" required>
        </div>
          <div class="clearfix">
            <button type="submit" class="signupbtn" id="add_drug">افزودن دارو</button>
          </div>
          <input type="text" id="hospital_id" style="display: none;" value="{{ hospital_id }}">
        <!-- </div> -->
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 left-part">dsa<br>dasdasd
      </div>
    </div>
  </div>

  <h1>داروهای شما</h1>
    <form>
    {% csrf_token %}
      <div class="container">
        <label><b>نام دارو</b></label>
        <input type="text" placeholder="نام دارو" id="drug_name" required>
        <label><b>تعداد دارو</b></label>
        <input type="text" placeholder="تعداد دارو" id="drug_count" required>
        <label><b>ماه انقضا</b></label>
        <input type="text" placeholder="ماه انقضا" id="drug_month" required>
        <label><b>سال انقضا</b></label>
        <input type="text" placeholder="سال انقضا" id="drug_year" required>
        <div class="clearfix">
          <button type="submit" class="signupbtn" id="add_drug">افزودن دارو</button>
        </div>
        <input type="text" id="hospital_id" style="display: none;" value="{{ hospital_id }}">
      </div>
    </form>
    <div class="all_drugs" id="all_drugs">
      {% for item in surplus_drugs %}
      <div class="item" >
        <div>نام دارو: {{item.drug__name}}</div>
        <div> تعداد: {{item.count}}</div>
        <div> انقضا: {{item.expiration_date.year}} {{item.expiration_date.month}}</div>
      </div>
      {% endfor %}
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        function isNumberKey(evt){
          var charCode = (evt.which) ? evt.which : event.keyCode;
          if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
          return true;
        }
        $("#drug_count").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#drug_month").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#drug_year").keypress(function(evt){
          return isNumberKey(evt);
        });
        $("#add_drug").click(function(e){
          e.defaultPrevented;
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
          var drugName = $("#drug_name").val();
          var drugCount = $("#drug_count").val();
          var hospitalId = $("#hospital_id").val();
          var drugMonth = $("#drug_month").val();
          var drugYear = $("#drug_year").val();
          $.ajax({
              url : "/drugs/"+hospitalId+"/", 
              type : "POST",
              dataType: "json", 
              data : {
                drug_name : drugName,
                drug_count : drugCount,
                drug_month: drugMonth,
                drug_year: drugYear,
                csrfmiddlewaretoken: csrftoken,
              },
              success : function(json) {
                  // alert(json.done);
                if (json.done) {
                  $("#all_drugs").prepend('<div class="item"><div>نام دارو: '+drugName+'</div><div>تعداد:  '+drugCount+'</div><div>انقضا: '+drugYear+' '+drugMonth+'</div></div>')
                  alert("دارو با موفقیت ثبت شد!");
                }
                else{
                  alert("ثبت دارو با شکست مواجه شد");
                }
                if(!json.access){
                  alert("دسترسی غیرمجاز!");
                }
              },
              error : function(xhr,errmsg,err) {
                  alert("ثبت بیمارستان با مشکل مواجه شد.");
              }
          });
          return false;
        });
      });
    </script>
    {% endblock %}  
  </body>
</html>