{% extends "madadsite/base.html" %}
{% load static %}

{% block content %}{% csrf_token %}
  <div class="container-fluid">
    <div class="row my-drugs">
      <div class="col-lg-4 col-md-4 col-sm-4 right-part">
        <h3>جستجوی بیماستان</h3>
        <div class="row top-10">
          <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">نام</label>
          <input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" placeholder="" id="search_text" required>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <button type="submit" id="hospital_search">جستجو</button>
        <input type="text" class="d-none" id="hospital_id" value="{{ hospital_id }}">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 left-part">
        <h1>بیمارستان ها</h1>
        <div id="all_hospitals">
          {% for item in hospitals %}
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
              <div class="box">
                <div class="box-title">{{item.name}}</div>
                <div class="box-content">آدرس بیمارستان: {{item.address}}</div>
                <div class="box-content">شماره تلفن بیمارستان: {{item.phone}}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
        $("#hospital_search").click(function(e){
          e.defaultPrevented;
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
          var searchText = $("#search_text").val();
          $.ajax({
              url : "/hospitals/", 
              type : "POST",
              dataType: "json", 
              data : {
                search_text : searchText,
                csrfmiddlewaretoken: csrftoken,
              },
              success : function(json) {
                if (json.done) {
                }
              },
              error : function(xhr,errmsg,err) {
                  alert("جستجو با مشکل مواجه شد.");
              }
          });
          return false;
        });
      });
  </script>
{% endblock %}
