{% extends "madadsite/base.html" %}
{% load static %}

{% block active_menu %}
    <li><a href="{% url 'my_drugs' safe_id=safe_id %}">داروهای مازاد من</a></li>
    <li><a href="{% url 'all_drugs' %}">همه داروهای مازاد</a></li>
    <li><a href="{% url 'ordered_drugs' safe_id=safe_id %}"> داروهای سفارش داده شده</a></li>
    <li><a href="{% url 'order_token_drugs' safe_id=safe_id %}">داروهای سفارش گرفته شده</a></li>
    <li class="active"><a href="{% url 'all_hospitals' %}">بیمارستان ها</a></li>
{% endblock %}

{% block content %}{% csrf_token %}
  <div class="container-fluid">
    <div class="row my-drugs">
      <div class="col-lg-4 col-md-4 col-sm-4 right-part">
        <h3>جستجوی بیماستان</h3>
        <div class="row top-10">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              <div class="search-box col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="input-group">
                    <input type="text" id="search_text" placeholder="" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="button" id="hospital_search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <input type="text" class="d-none" id="hospital_id" value="{{ hospital_id }}">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 left-part">
        <h1>بیمارستان ها</h1>
        <div id="all_hospitals">
          {% for item in hospitals %}
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="box">
                <div class="box-title text-center">{{item.name}}</div>
                <div class="box-content padding-right-10">آدرس بیمارستان: {{item.address}}</div>
                <div class="box-content padding-right-10">شماره تلفن بیمارستان: {{item.phone}}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
        $("#hospital_search").click(function(e){
          e.defaultPrevented;
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
          var searchText = $("#search_text").val();
          $.ajax({
              url : "/hospitals/", 
              type : "POST",
              dataType: "json", 
              data : {
                search_text : searchText,
                csrfmiddlewaretoken: csrftoken,
              },
              success : function(json) {
                $("#all_hospitals").html('');
                var hospitals = json.hospitals;
                if (hospitals) {
                  for (i in hospitals){
                    $("#all_hospitals").append('<div class="col-lg-6 col-md-6 col-sm-6"><div class="box"><div class="box-title text-center">'+hospitals[i]['name']+'</div><div class="box-content padding-right-10">آدرس بیمارستان: '+hospitals[i]['address']+'</div><div class="box-content padding-right-10">شماره تلفن بیمارستان: '+hospitals[i]['phone']+'</div></div></div>');
                  }
                }
              },
              error : function(xhr,errmsg,err) {
                  alert("جستجو با مشکل مواجه شد.");
              }
          });
          return false;
        });
      });
  </script>
{% endblock %}
